# Core MCP framework
fastmcp

# Outlook / Microsoft Graph
msal
requests
python-dotenv
pyjwt

# Gmail / Google API
google-auth
google-auth-oauthlib
google-api-python-client

# For token saving
pickle5 ; python_version < '3.8'

# Dashboard & Sheets
fastapi
uvicorn
jinja2
gspread
google-auth
